# LaTeX intermediate files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex(busy)
*.synctex.gz
*.toc

# LaTeX editor files
*.pdf
*.dvi
*.ps
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.fls
*.fdb_latexmk

# Other files
*.bak
*.backup
*.tmp
*.swp
*.DS_Store
svg-inkscape/
_minted-main/

# Compilation artifacts
*.o
*.pcm
main
build/
graph/building/*.pdf
